@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Poppins:wght@400;500;700&display=swap');

:root {
  --base-font: 'Poppins', sans-serif;
  --logo-font: 'Aladin', cursive;

  --beige-brown: #d89242;
  --light-yellow: #ffc75d;
  --lighter-blue: #48A398;
  --green-grey: #393A31;
  --blue-grey: #27282C;
  --lighter-grey: #979797;
  --off-white: #dee9ee;

}

body {
  margin: 0;
  padding: 0;
  font-family: var(--base-font);
}

.background {
  height: 250px;
  width: 100%;
  background-color: var(--blue-grey);
  position: absolute;
  z-index: -1;
  transform: rotate(180deg);
}

svg {
  position: absolute;
  bottom: 100%;
  /* transform: rotate(180deg); */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  z-index: 10;
}

header img {
  height: 100px;
  padding: 0;
}

.logo {
  font-family: var(--logo-font);
  font-size: 2rem;
  letter-spacing: 2px;
  background: -webkit-linear-gradient(var(--beige-brown), var(--light-yellow));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: .5rem 0 0;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.contact-btns {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  margin-inline: 2rem;
  color: white;
  font-family: var(--base-font);
}

.form {
  border-top: 4px solid var(--lighter-blue);
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 2rem;
  float: right;
  /* margin-right: 5rem; */
  background-color: white;
  position: relative;
  top: -6rem;
  right: 15rem;
  box-shadow: 0 15px 20px -10px var(--lighter-grey);
}

.form h3 {
  text-align: center;
}

input,
select {
  margin-block: .5rem;
  padding: .5rem;
  font-size: .875rem;
  border-radius: .375rem;
  border: 1px solid var(--off-white);
  font-weight: 500;
}

.btn {
  border: 1px solid var(--light-yellow);
  background-color: var(--light-yellow);
  padding: .75rem 1.5rem;
  border-radius: 2rem;
  font-weight: 700;
  font-size: .75rem;
  transition: all .15s;
  width: max-content;
  align-self: center;

}

.btn:hover {
  transform: scale(.95);
  background-color: white;
  /* border: 2px solid var(--lighter-blue); */
}

.form .btn {
  margin-block: .5rem;
}

.hero-section {
  /* border: 1px solid black; */
  width: max-content;
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 2rem;
  margin-top: 4rem;
}

.hero-section h1 {
  font-size: 3.5rem;
}

.hero-section p {
  font-size: 1.5rem;
}

.hero-section span {
  color: var(--lighter-blue);
}

/* Old CSS designs */

/* 



nav {
  margin-left: 5rem;
}

nav>a {
  margin-inline: .5rem;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 700;
  position: relative;
  letter-spacing: 1px;
}

nav>a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffc75d;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav>a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 110px;
  margin: 0;
}

.hero-section {
  background-image: url('../src/images/music_lesson2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 837px;
  display: flex;
  justify-content: center;
  color: white;
}

.hero-section h3 {
  margin: 0;
  font-size: 4rem;
  text-align: center;
  font-family: var(--h-font);
  letter-spacing: 4px;
}

.hero-section p {
  font-size: 1.5rem;
  font-weight: 500;
}

.get-started {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}

.get-started span {
  color: black;
} */

/* .hero-section>img {
  height: 750px;
} */